.sobreNos {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
  flex-direction: column;
  &_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: justify;
    > p {
      font-family: "Josefin Sans", sans-serif;
    }
  }
}

.imagens {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  &_imagem {
    max-width: 450px;
    img {
      border-radius: 5px;
      width: 100%;
    }
  }
}
